* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  max-width: 1620px;
}

/* commmon styles */
.primary-description{
  color: #727272;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 25px;
  margin: 10px 0;
}
.primary-btn {
  background-color: #ff900e;
  padding: 20px 25px;
  border-radius: 10px;
  font-size: 1.25rem;
  width: 200px;
  border: none;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}



/* header styles */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 150px 50px 150px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .title {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}

.nav-bar ul {
  display: flex;
  gap: 30px;
}
.nav-bar ul li {
  list-style: none;
}
.nav-bar ul li a {
  text-decoration: none;
  color: var(--Dark-02, #424242);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

/* banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.banner-content .banner-title {
  color: #131313;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-image img{
  width: 100%;
}

/* feature section styles */

main{
  max-width: 1440px;
  margin: 0 auto;
}

.teams-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 150px auto;
  gap: 150px;
}

.teams-content h1{
  font-size: 3rem;
  margin-bottom: 20px;
  color: #131313;
}
.teams-content h1 .gray{
  color: #727272;
}
.teams-content h1 .orange{
  color: #FF900E;
}


.teams-section .teams-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}



/* responsive queries */

/* small devices */

@media screen and (max-width: 576px) {

  header{
    padding: 50px 20px 50px 20px;
  }
  .nav-bar{
    flex-direction: column;
  }
  .nav-bar .title{
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .banner-content .banner-title {
    font-size: 25px;
  }


}

/* medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
  header{
    padding: 50px;
  }
  .nav-bar{
    flex-direction: column;
  }
  .nav-bar .title{
    margin-bottom: 10px;
  }
  .banner-content .banner-title {
    font-size: 30px;
  }
}